<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doking</title>
  <link rel="shortcut icon" type="image/x-icon" href="../img/logo.png">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="css/gioithieu.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="../img/logo.png" alt="">
        </div>
        <div class="menu">
            <ul>
                <li><a href="../index.html">Trang Chủ</a></li>
                <li><a href="#">Giới Thiệu</a></li>
                <li><a href="view/thucdon.html">Thực Đơn</a></li>
                <li><a href="#maps">Định vị cửa hàng</a></li>
            </ul>
        </div>
        <div class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        
    </header>
    <div class="container">
        <div class="title-product">
            <h1>Giới thiệu về sản phẩm</h1>
        </div>
        <div class="product">
            <p>Đáp ứng những nhu cầu về sự mới mẻ , hương vị thơm ngon cũng như sự bắt mắt của người dân việt nam chúng tôi cho ra đời thương hiệu bánh donut doking  
 
                Thương hiệu bánh donut Doking là thương hiệu của người việt , chuyên sản xuất , thành lập chuỗi cửa hàng và nhượng quyền thương hiệu . 
                  Với nguyên liệu chính từ bột mì kết hợp với những hương vị mới mẻ , mẫu mã và hình thức đa dạng bánh donut sẽ là một món ăn sáng , tráng miệng hay ăn vặt cũng sẽ đều là một lựa chọn rất tuyệt vời . Với cái tâm của một thương hiệu Việt muốn đem đến cho khách hàng những trải nghiệm tốt nhất , thương hiệu bánh donut Doking của chúng tôi xin đảm bảo luôn an toàn thực phẩm , nguyên liệu chế biến sạch sẽ , cơ sở sản xuất tiên tiến , phục vụ tận tình và luôn đem đến cho thực khách một trải nghiệm hài lòng nhất</p>
            <img src="../img/title.jpg" alt="">      
        </div>
    </div>
    <footer>
        <div class="container-footer">
            <div class="content-left">
                <h3>About</h3>
                <ul>
                    <li><a href="">About doking</a></li>
                    <li><a href="">Own a franchise</a></li>
                    <li><a href="">Rfg</a></li>
                    <li><a href="">Dk rewards</a></li>
                </ul>
            </div>
            <div class="content-center">
                <nav>
                    <h3>Store Locator</h3>
                    <ul>
                        <li><a href="">learn more</a></li>
                    </ul>
                </nav>
                <nav class="fb">
                    <h3>follow us</h3>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-twitter"></i>
                </nav>
            </div>
            <div class="content-right">
                <h3>Support</h3>
                <ul>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Privacy policy</a></li>
                    <li><a href="">Contact US</a></li>
                </ul>
            </div>
        </div>
        <div class="text">
            <span>© DoKing <br>All Rights Reserved</span>
        </div>
    </footer>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="../js/index.js"></script>

</html>